body {
  margin: 0 auto;
  width: 40em;
  font-size: 1.5em;
  font-family: 'Helvetica', sans-serif;
  padding: 1em;
  text-align: center;
}

canvas {
 border: 1px solid black;
}

h1 {
  font-size: 1.2em;
  margin-bottom: 1em;
}
