body {
  margin: 1em auto;
  width: 40em;
  font-size: 1.5em;
  font-family: 'Helvetica', sans-serif;
  padding: 1em;
  text-align: center;
}

button {
  font-size: 1.5em;
  margin: 0.6em 0.5em;
}

h1 {
  margin-bottom: 1.5em;
}
